# 🔹 기본 패키지
fastapi
uvicorn
python-dotenv

# 🔹 인증 관련
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.0
pydantic[email]

# 🔹 Langchain 관련 패키지
langchain
langchain-community
langchain-openai
langchain-weaviate
langchain-huggingface
openai

# 🔹 기타
weaviate-client
psycopg2-binary
