# torch==2.2.2+cpu
# torchvision==0.17.2+cpu
# torchaudio==2.2.2+cpu
# --index-url https://download.pytorch.org/whl/cpu


fastapi
uvicorn
python-dotenv
langchain
langchain-community
langchain-openai
langchain-weaviate
weaviate-client
python-jose[cryptography]
passlib[bcrypt]
langchain-huggingface
openai
transformers==4.36.2
sentence-transformers==2.2.2