.canvas-box {
  align-items: center;
  gap: 10px;
  padding: 4px 12px;
  background-color: #ffffff;
  border: 1px solid #3369ff;
  border-radius: 12px;
  max-width: fit-content; /* 내부 요소 크기에 맞게 너비 제한 */
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.canvas-icon {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.canvas-text {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

.canvas-content {
  display: flex;
  flex-direction: column;
  gap: 4px; /* 텍스트와 링크 간 간격 */
}

.canvas-link {
  font-size: 13px;
  color: #3369ff;
  text-decoration: none;
  padding-left: 2px;
}

.canvas-link:hover {
  text-decoration: underline;
}

